<main class="user-show">

    <h2>Welcome back,

        <!--USER NAME HERE-->
        {{user.first_name}}!
    </h2>


    <a href="/">Return to Home Page</a>

    <div class="user-container-show">
        <h4 id="user-name">


            <!-- USER NAME HERE -->
            Name: {{user.first_name}} {{user.last_name}}


        </h4>

        <br>
        <!-- USEr AGE HERE -->
        <h4>Age: {{user.age}}</h4>
        <br>

        <!--USEr HEIGHT-->
        <h4>Height: {{user.height}} cm</h4>

        <br>
        <!--USEr WEIGHT-->
        <h4>Weight: {{user.weight}} lbs</h3>

            <br>
            <!--USEr GOALS-->
            <h3>Goals: {{user.goals}} </h3>


            <br>

            <!--USER DELETE-->
            <form action="/user/{{user._id}}?_method=DELETE" method="POST">
                <a type="submit" class="waves-effect waves-light btn red"><i class="material-icons left">close</i>
                    DELETE
                </a>
            </form>

            <!--USER EDIT PAGE-->
            <form>

                <a href="/user/{{user._id}}/edit" type="submit" class="btn waves-effect waves-light blue"><i class="material-icons left">border_color</i>
                    EDIT
                </a>

            </form>

    </div>
    <br>
    <br>

    <a href="/user/{{user._id}}/fitness" class="waves-effect waves-light btn-large">FITNESS LOG</a>
    <a href="/user/{{user._id}}/nutrition" class="waves-effect waves-light btn-large">NUTRITION LOG</a>
</main>