<main>

    <h2>Welcome back,

        <!--USER NAME HERE-->
        {{user.first_name}}!
    </h2>


    <a href="/">Return to Home Page</a>

    <div class="user-container-show">
        <h3 id="user-name">


            <!-- USER NAME HERE -->
            Name: {{user.first_name}} {{user.last_name}}


        </h3>

        <br>
        <!-- USEr AGE HERE -->
        <h3>Age: {{user.age}}</h3>
        <br>

        <!--USEr HEIGHT-->
        <h3>Height: {{user.height}} cm</h3>

        <br>
        <!--USEr WEIGHT-->
        <h3>Weight: {{user.weight}} lbs</h3>

        <br>
        <!--USEr GOALS-->
        <h3>Goals: {{user.goals}} </h3>


        <br>

        <!--USER DELETE-->
        <form action="/user/{{user._id}}?_method=DELETE" method="POST">
            <button type="submit" class="waves-effect waves-light btn red"><i class="material-icons left">close</i>
                DELETE
            </button>
        </form>

        <!--USER EDIT PAGE-->
        <form>
            <button>
                <a href="/user/{{user._id}}/edit" type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">border_color</i>
                    EDIT
                </a>
            </button>
        </form>

    </div>
    <br>
    <br>

    <a href="/user/{{user._id}}/fitness" class="waves-effect waves-light btn-large">FITNESS LOG</a>
    <a href="/user/:id/nutrition/" class="waves-effect waves-light btn-large">NUTRITION LOG</a>
</main>