<main>

    <h2>Welcome back,

        <!--USER NAME HERE-->
        {{user.first_name}}!
    </h2>

    <a href="/">Return to Home Page</a>

    <div class="user-container-show">
        <h2 id="user-name">

            <!-- USER NAME HERE -->
            {{user.first_name}} {{user.last_name}}


        </h2>

        <br>
        <!-- USER AGE HERE -->
        <h3>Age: {{user.age}}</h3>
        <br>

        <!--USER HEIGHT-->
        <h3>Height: {{user.height}} </h3>

        <br>
        <!--USER WEIGHT-->
        <h3>Weight: {{user.weight}} </h3>

        <br>
        <!--USER GOALS-->
        <h3>Goals: {{user.goals}} </h3>

        <br>
        <!--USER LOGS-->
        <h3>Logs: {{user.logs}} </h3>
        <!--buttons for logs-->

        <br>
        <!--USER EDIT PAGE-->

        <!--USER DELETE-->

    </div>
</main>