<main>

    <h2>{{user.first_name}}'s Fitness Logs</h2>


    {{!-- Button here for new log entry || Create --}}

    {{!-- Begin each loop here || Read --}}
    {{#each user.Fitness_Logs}}
    <div>

        {{!-- For the sake of planning and time management, we will pseudocode our desires --}}
        {{!-- Each log will live in a div, separated from other log entries. --}}

        {{!-- Show the date of the workout --}}

        {{!-- The exercises should be a div with a list of each object,
        each one being a different method and having other discriptive numbers --}}

        {{date}}
        <div>
            {{workout}} || {{reps}} || {{sets}} || {{difficulty}}
        </div>


    </div>
    {{!-- end loop --}}
    {{/each}}
</main>