<main>

    <h2>{{user.first_name}}'s Fitness Logs</h2>


    <form action="/user/{{user._id}}/fitness" method="POST">
        {{!-- Button here for new log entry || Create --}}
        <input type="text" name="workout">
        <input type="number" name="reps">
        <input type="number" name="sets">
        <input type="number" name="difficulty">

        <button type="submit">Add Entry</button>
    </form>

    <h5>
        Date<br />
        Workout || Reps || Sets || Difficulty
    </h5>
    <br>
    <br>

    {{!-- Begin each loop here || Read --}}
    {{#each user.Fitness_Logs}}
    <div>

        {{!-- For the sake of planning and time management, we will pseudocode our desires --}}
        {{!-- Each log will live in a div, separated from other log entries. --}}

        {{!-- Show the date of the workout --}}

        {{!-- The exercises should be a div with a list of each object,
        each one being a different method and having other discriptive numbers --}}

        {{date}}
        <hr>
        <div>
            {{workout}} || {{reps}} || {{sets}} || {{difficulty}}
        </div>


    </div>
    {{!-- end loop --}}
    {{/each}}
</main>