<main>

    <a href="/user/{{user._id}}">
        <div>Back to your profile</div>
    </a>
    <br>
    <br>


    <h2>{{user.first_name}}'s Fitness Logs</h2>


    <form action="/user/{{user._id}}/fitness" method="POST">
        {{!-- Button here for new log entry || Create --}}
        <label for="workout">What exercise did you do?</label>
        <input type="text" name="workout" required>

        <label for="reps">How many reps?</label>
        <input type="number" name="reps" required>

        <label for="sets">How many sets?</label>
        <input type="number" name="sets" required>

        <label for="difficulty">How difficult was it? Rate it on a scale of 1 - 5.</label>
        <input type="number" name="difficulty" max="5" required>

        <button type="submit">Add Entry</button>
    </form>

    <h5>
        Date<br />
        Workout || Reps || Sets || Difficulty
    </h5>
    <br>
    <br>

    {{!-- Begin each loop here || Read --}}
    {{#each user.Fitness_Logs}}
    <div>

        {{!-- For the sake of planning and time management, we will pseudocode our desires --}}
        {{!-- Each log will live in a div, separated from other log entries. --}}

        {{!-- Show the date of the workout --}}

        {{!-- The exercises should be a div with a list of each object,
        each one being a different method and having other discriptive numbers --}}

        {{date}}
        <hr>
        <div>
            {{workout}} || {{reps}} || {{sets}} || Lv. {{difficulty}}
        </div>


    </div>
    <br>
    {{!-- end loop --}}
    {{/each}}
</main>